@font-face {
 	font-family: '<%= fontName %>';
 	src: url('../fonts/<%= fontName %>/<%= fontName %>.eot?<%= timestamp %>');
	src: url('../fonts/<%= fontName %>/<%= fontName %>.eot?#iefix-<%= timestamp %>') format('embedded-opentype'),
 		url('../fonts/<%= fontName %>/<%= fontName %>.woff2?<%= timestamp %>') format('woff2'),
  		url('../fonts/<%= fontName %>/<%= fontName %>.woff?<%= timestamp %>') format('woff'),
  		url('../fonts/<%= fontName %>/<%= fontName %>.ttf?<%= timestamp %>') format('truetype');
 	font-weight: normal;
	font-style: normal;
}

[class^='<%= className %>-']:before,
[class*=' <%= className %>-']:before {
	font-family: '<%= fontName %>';
	display: inline-block;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

<% _.each(glyphs, function(icon){ %>
.<%= className %>-<%= icon.name %>:before {
	content: '\<%= icon.unicode[0].charCodeAt(0).toString(16) %>';
}
<% }) %>