/**
 * Reset button styles.
 */
button {
	font: inherit;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: inherit;
	border: none;
	background-color: transparent;
}

/*
* Default button styles.
*/
.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: var(--primary-color);
}

.btn:hover {
	/* styles here */
}

.btn:focus {
	/* styles here */
}



/*
* Button size styles.
*/
.btn.btn--lg {
	/* styles here */
}

.btn.btn--sm {
	/* styles here */
}

.btn.btn--xs {
	/* styles here */
}




.btn.btn--primary {
	/* styles here */
}

.btn.btn--primary:hover {
	/* styles here */
}

.btn.btn--primary:focus {
	/* styles here */
}




.btn.btn--secondary {
	/* styles here */
}

.btn.btn--secondary:hover {
	/* styles here */
}

.btn.btn--secondary:focus {
	/* styles here */
}




.btn.btn--link {
	/* styles here */
}

.btn.btn--link:hover {
	/* styles here */
}

.btn.btn--link:focus {
	/* styles here */
}
