// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin font-face($font-family, $file-path, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('../fonts/#{$file-path}.eot');
    src: url('../fonts/#{$file-path}.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/#{$file-path}.woff') format('woff'),
         url('../fonts/#{$file-path}.woff2') format('woff2'),
         url('../fonts/#{$file-path}.ttf') format('truetype');
  }
}